pyserial==3.5
pyscard==2.3.1
websocket-client==1.9.0
pyinstaller==6.22.1
pywin32==311; sys_platform == "win32"
rumps==0.4.0; sys_platform == "darwin"
pyobjc-core==12.2.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.2.2; sys_platform == "darwin"
pyobjc-framework-AVFoundation==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreAudio==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMedia==12.2.2; sys_platform == "darwin"
pyobjc-framework-Quartz==12.2.2; sys_platform == "darwin"
